// anliang.cc navbars
//

.navbar-nav-main,
.nav-tabs {
  .nav-item {
    margin: {
      right: .5rem;
      left: .5rem;
    }
  }
  .nav-link {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      @include center-x;
      height: 1px;
      width: 60%;
      background: transparent;
    }
    &.active {
      &::after {
        background: black;
      }
    }
  }
}

.logo {
  height: 30px;
}

.nav-tabs {
  border-bottom: none;
  .nav-item {
    margin: {
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  .nav-link {
    position: relative;
    &, &.active {
      border: none;
      border-radius: 0;
      background: none;
    }
  }
}

.navbar-profile {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(white, .7);
}