// anliang.cc variable
//


$link-color:           rgba(black, .7) !default;
$link-hover-color:     rgba(black, .9) !default;
$link-active-color:    rgba(black, .9) !default;
$disabled-color:       rgba(black, .3) !default;